body {
  background-color: white;
  font-family: sans-serif;
}


.homeknop {
  height: 60px;
}

.kleine_tabel{
  width: 30%;
}

.plaatje_en_text{
  margin: 25%;
  margin-top: 10%;
}

.plaatje{
  width: 100%;
}

.balk {
  background-color: #5299D3;
  width: 100%;
  height: 90px;
}

.logo{
  padding: 3px 30px;
}

a:link, a:visited {
  background-color: #5299D3;
  color: black;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
}

a:hover, a:active{
  font-weight: bolder;
  text-decoration: underline;
}

a:not(.logo){
  padding: 15px 30px;
}

td {
  width: 10%;
}

main {
  height: 90vh;
}

footer {
  bottom: 0;
  padding-bottom: 10vh;
  background-color: #073B4C;
  color: white;
}


a.button{
  margin: 0% 5%;
}

img.button{
  height: 100px;
}
